body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
body {
  scrollbar-gutter: stable; /* 👈 mantiene el espacio del scroll incluso si desaparece */
}
ody {
  overflow-x: hidden;
  width: 100%;
}

body.menu-open {
  position: fixed; /* evita desplazamiento lateral */
  width: 100%;
  overflow-y: scroll;
}