.profile {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
}

.profile__navbar {
  display: flex;
  justify-content: flex-end;
}

.profile__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.profile__empty {
  text-align: center;
}
